.slds-text-title_bold {
  font-weight: bold;
}
.bg-green {
  background-color: #58c474;
}

.bg-yellow {
  background-color: #E1D951;
}

.bg-red {
  background-color: #DB6D7A;
}

.color-white {
  color: white;
}